.form{
  width: 300px;
  // border: 1px solid #c1b8b8;
  background-color: #c1b8b8;
  border-radius: $radius; 
}
.main-form{
  padding: 20px 10px;
  width: 100%
}
.input{
  -webkit-appearance: none;
  background-color: white;
  border: 0;
  outline: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 35px;
  padding-left: 10px;
}

