.form{
  border-radius: $radius; 
}
.main-form{
  padding: 20px 10px;
  width: 100%
}
.input{
  -webkit-appearance: none;
  background-color: white;
  border: 0;
  outline: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 40px;
  padding-left: 10px;
  border-radius: $radius; 
  width: 100%;
  // width: 800px;
}
.input:hover{
  border: 1px solid grey;
}

