.table {
	width: 100%;
	background-color: $white-color;

	td,th {
		padding: 8px 12px;
		text-align: left;
		color: $gray-900;
	}

	thead th {
		background-color: $gray-400;
		font-weight: 600;
	}

	&.has-alternate-bg {
		tbody tr:nth-child(even) {
			background-color: $gray-300;
		}
	}
}
.project-show{
	margin-top: 30px;
	// tbody tr:nth-child(even) {
	// background-color: $gray-300;
		// }
}

.project-title{
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		align-items: center;

		h1{
			font-size: 24px;
			font-weight: 600;
		}
	}
.payment-title{
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		margin-top: 30px;
		align-items: center;

		h1{
			font-size: 24px;
			font-weight: 600;
		}
	}
.row{
	display: flex;

	.col-1{
		margin-right: 16px;
		width: 100%;
	}
	.col-2{
		width: 100%;
		// margin-top: 10px;
	}
}